**1. TUPLES ARE SIMILAR TO LISTS BUT ARE IMMUTABLE MEANING THEY CANNOT BE CHANGED**<br/>
**2. ONCE THE ELEMENT IS INSIDE THE TUPLE IT CANNOT BE REASSIGNED** <br/>
**3. SLICING INDEXING CAN BE PERFORMED ON TUPLES**

In [1]:
tup = (9,8,7)
tup

(9, 8, 7)

In [2]:
lis = [100, 121, 144]
lis

[100, 121, 144]

In [3]:
type(tup)

tuple

In [4]:
type(lis)

list

In [5]:
# Tuples can handle multiple data types
info = ('Male', 26)
info

('Male', 26)

In [11]:
info[0]

'Male'

In [12]:
info[::]

('Male', 26)

In [13]:
info[::-1]

(26, 'Male')

In [14]:
info + ('Vamsee')

TypeError: can only concatenate tuple (not "str") to tuple

**THERE ARE ONLY 2 MEHTODS FOR TUPLES** <br/>
**1. INDEX**<br/>
**2. COUNT**

**INDEX - With this method given the object in the tuple to index method**<br/>
**it gives us the index location of the first occurrence of that object**

In [ ]:
letters = ('z', 'z', 'y', 'x', 'b')
letters.index('z')

0

In [8]:
letters.index('y')

2

**COUNT - With this method given the object in the tuple to count method**<br/>
**it gives us the number of occurrences of that object**

In [9]:
letters.count('z')

2

In [10]:
letters.count('y')

1