## **PYTHON LOOPS -PART1- FOR LOOPS**

In [1]:
leapyears = [2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015]
for year in leapyears:
    print(year)

2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015

In [4]:
for year in leapyears:
    if year%4==0:
        print("%d - Leap Year" %(year))
    else:
        print("%d - Not a Leap Year" %(year))

2001 - Not a Leap Year
2002 - Not a Leap Year
2003 - Not a Leap Year
2004 - Leap Year
2005 - Not a Leap Year
2006 - Not a Leap Year
2007 - Not a Leap Year
2008 - Leap Year
2009 - Not a Leap Year
2010 - Not a Leap Year
2011 - Not a Leap Year
2012 - Leap Year
2013 - Not a Leap Year
2014 - Not a Leap Year
2015 - Not a Leap Year

**USE OF FOR LOOPS WITH ALL THE DATA STRUCTURES**

**1. FOR LOOPS WITH STRINGS**

In [5]:
mystr = "my name is Robert De Niro"
for letter in mystr:
    print(letter)

m
y

n
a
m
e

i
s

R
o
b
e
r
t

D
e

N
i
r
o

**2. FOR LOOPS WITH TUPLES**

In [9]:
tup1 = (2,3,5,7,9,11,13,17,19,23,27,29,31)
for item in tup1:
    print(item)

2
3
5
7
9
11
13
17
19
23
27
29
31

In [13]:
sum = 0 
for item in tup1:
    sum += item
    print(sum)
print(sum)

2
5
10
17
26
37
50
67
86
109
136
165
196
196

**Tuple unpacking is where we can unpack the tuples wehn iterating through a sequence. <br/>**

In [14]:
tup2 = [(2,3),(5,7),(9,11),(13,17),(19,23),(27,29)]
for a,b in tup2:
    print(a,b)

2 3
5 7
9 11
13 17
19 23
27 29

In [15]:
for a,b in tup2:
    print(a)

2
5
9
13
19
27

**3. FOR LOOPS WITH DICTIONARIES**

**Similar to tuple unpacking there is dictionary unpacking as well. <br/>
Here there are 3 methods for unpacking and accessing the items of the dictionary <br/>
.items() - to access key value pairs <br/>
.keys() - to access only keys <br/>
.values() - to access only values <br/>**

In [19]:
dict1 = {'name':'vamsee', 'yearofbirth':1999, 'gender': 'male', 'empid': 1}
for k,v in dict1.items():
    print(k,v)

name vamsee
yearofbirth 1999
gender male
empid 1

In [20]:
for k in dict1.keys():
    print(k)

name
yearofbirth
gender
empid

In [21]:
for v in dict1.values():
    print(v)

vamsee
1999
male
1

**To create a list of keys from the dictionary**

In [22]:
list(dict1.keys())

['name', 'yearofbirth', 'gender', 'empid']