**INDEXING**

In [1]:
myname = "Soura Vamseekar"

In [4]:
myname[14]

'r'

In [5]:
myname[-1]

'r'

In [6]:
myname[6:]

'Vamseekar'

In [9]:
myname[:4]

'Sour'

**string[start : stop], in the above ex we can see that it stopped at location 4 so it is upto but not including the location**

In [10]:
myname[:5]

'Soura'

In [11]:
myname[6:9]

'Vam'

**STEP SIZE**

In [ ]:
#:: here says from all the way from the beginning to all the way to end with no step size
myname[::]

'Soura Vamseekar'

In [14]:
#:: here says from all the way from the beginning to all the way to end with step size of 2
myname[::2]

'SuaVmekr'

In [15]:
#here says from location 3 to location 9 but not including it with step size of 2
myname[3:9:3]

'rV'

In [16]:
#we can also use the :: for reversing a string as well by adding ::-1
myname[::-1]

'rakeesmaV aruoS'

**STRING PROPERTIES**

**1. IMMUTABILITY: WE CANT CHANGE THE STRING BY ANY MEANS ----------> we can use string concatenation to solve this**

In [17]:
myname[0] = 'M'

TypeError: 'str' object does not support item assignment

In [42]:
#TO solve this we use string concatenation
myname = "Soura Vamseekar"

In [44]:
first_name = myname[:4]
first_name

'Sour'

In [45]:
#to correct the first name from sour to soura we can use concatenation
first_name_corrected = first_name + 'a'
first_name_corrected

'Soura'

In [47]:
"My name is " + first_name_corrected

'My name is Soura'

In [48]:
first_name_corrected * 3

'SouraSouraSoura'

**2. BUILT IN STRING METHODS**

**.upper() method**

In [35]:
mycity = "Hyderabad"
mycity.upper()

'HYDERABAD'

**.lower() method**

In [36]:
mycity.lower()

'hyderabad'

In [38]:
mymotto = "I want to be number one"
mymotto

'I want to be number one'

**.split() method**

In [39]:
mymotto.split()

['I', 'want', 'to', 'be', 'number', 'one']

In [ ]:
'''By default split will split on white space, we can specify how to split on any character we want, splitting
on the character means it removes the character and gives everything in a list that is there until the next occurrence of the character'''
mymotto.split('e')

['I want to b', ' numb', 'r on', '']

**.format() method**

In [71]:
#  .format() method

print("My name is {}".format("Vamsee"))

My name is Vamsee

In [60]:
# we can also write like

print("My {} {} {}".format("name", "is", "Vamsee"))

# we can also change the order of the words

print("My {2} {0} {1}".format("name", "is", "Vamsee"))

# OR

print("My {2} {2} {2}".format("name", "is", "Vamsee"))

# OR we can name the variable names inside the .format() which helps easily recognize the indexes of the variables inside the .format()

print("My {v} {n} {i}".format(n="name", i="is", v="Vamsee"))

My name is Vamsee
My Vamsee name is
My Vamsee Vamsee Vamsee
My Vamsee name is

**float formatting ----> "{value:width.precision f}**

In [ ]:
# ""
quotient = 222/9484
print("the quotient before float formatting is ")
quotient

the quotient before float formatting is

0.02340784479122733

In [68]:
# using float formatting we can decide how many numbers to appear after the decimal by changing the precision,
# in case of width better to use 1 always, because changing the width results in white space

print("the quotient after float formatting is {q:1.4f}".format(q=quotient))

the quotient after float formatting is 0.0234

In [ ]:
print("the quotient after float formatting and increased width is {q:10.4f}".format(q=quotient))

# we can see a bunch of white spaces added indicating the length of the number

the quotient after float formatting and increased width is     0.0234

**Formatting with placeholders**

In [2]:
print("Sachin scored a %s" %'century')

Sachin scored a century

In [1]:
print("%s scored a %s" %('Sachin Tendulkar','century'))

Sachin Tendulkar scored a century

In [4]:
a, b = 'Rohit Sharma', 'Double Century'
print("%s scored a %s" %(a,b))

Rohit Sharma scored a Double Century

**It should be noted that two methods %s and %r convert any python object to a string using two separate methods: str() and repr(). We will learn more about these functions later on in the course, but you should note that %r and repr() deliver the string representation of the object, including quotation marks and any escape characters.**

In [7]:
print("%s is the %s batsmen of all time" %('Sachin', '\tgreatest'))
print("%s is the %r batsmen of all time" %('Babar Azam', '\tworst'))

Sachin is the 	greatest batsmen of all time
Babar Azam is the '\tworst' batsmen of all time

**Floating point numbers use the format %5.2f. Here, 5 would be the minimum number of characters the string should contain; these may be padded with whitespace if the entire number does not have this many digits. Next to this, .2f stands for how many numbers to show past the decimal point**

In [8]:
print('The value of pi : %1.0f' %(3.14159265359))

The value of pi : 3

In [9]:
print('The value of pi : %5.2f' %(3.14159265359))

The value of pi :  3.14

In [10]:
print('The value of pi : %25.7f' %(3.14159265359))

The value of pi :                 3.1415927