**DICTIONARY : {'KEY1': 'VALUE1', 'KEY2': 'VALUE2}**

**1. Different data types can be used in the Dictionaries <br/>
2. Dictionaries can be unsorted meaning it can't handle indexing, slicing, sorting etc. <br/>
3. Dictionaries are unordered <br/>
4. Objects in the dictionaries can be retrieved using the keys**

In [9]:
#Different data types are supported in the dictionary
highest_temp = {'Country': 'Algeria', 'Temp': 51.3, 'Town': 'Ouargla Province', 'Date': '7 January 2016'}
highest_temp

{'Country': 'Algeria',
 'Temp': 51.3,
 'Town': 'Ouargla Province',
 'Date': '7 January 2016'}

In [ ]:
# In the below example the dictionary has integer, list and
# nested dictionary as the values for the keys
multi_datatypes = {'k1': 1999, 'k2': [1, 2, 3], 'k3': {'nested key': 'nested value'}}
multi_datatypes

{'k1': 1999, 'k2': [1, 2, 3], 'k3': {'nested key': 'nested value'}}

In [11]:
# to retrieve the objects of the above dictionary
multi_datatypes['k3']

{'nested key': 'nested value'}

In [12]:
multi_datatypes['k2']

[1, 2, 3]

In [13]:
# in the above cell to get the 2nd item of the list we can do
multi_datatypes['k2'][1]

2

In [2]:
my_details = {'Name': 'Soura Vamseekar', 'Age': 26, 'Sex': 'Male', 'Nationality': 'Indian'}

In [3]:
my_details

{'Name': 'Soura Vamseekar', 'Age': 26, 'Sex': 'Male', 'Nationality': 'Indian'}

In [5]:
my_details['Sex']

'Male'

In [16]:
#to add a key value pair we can do 
my_details['Place of Birth'] = 'Hyderabad'

In [17]:
my_details

{'Name': 'Soura Vamseekar',
 'Age': 26,
 'Sex': 'Male',
 'Nationality': 'Indian',
 'Place of Birth': 'Hyderabad'}

In [18]:
#we can also change the values as well by
my_details['Name'] = 'Marti Vamseekar'

In [19]:
my_details

{'Name': 'Marti Vamseekar',
 'Age': 26,
 'Sex': 'Male',
 'Nationality': 'Indian',
 'Place of Birth': 'Hyderabad'}

In [27]:
# we can effect the value by
my_details['Age'] -= 1
my_details

{'Name': 'Marti Vamseekar',
 'Age': 24,
 'Sex': 'Male',
 'Nationality': 'Indian',
 'Place of Birth': 'Hyderabad'}

**TO GET ALL THE KEYS OF THE DICTIONARY USE KEYS() METHOD**

In [28]:
my_details.keys()

dict_keys(['Name', 'Age', 'Sex', 'Nationality', 'Place of Birth'])

**TO GET ALL THE VALUES OF THE DICTIONARY USE VALUES() METHOD**

In [29]:
my_details.values()

dict_values(['Marti Vamseekar', 24, 'Male', 'Indian', 'Hyderabad'])

**TO GET ALL THE ITEMS OF THE DICTIONARY USE ITEMS() METHOD**

In [30]:
my_details.items()

dict_items([('Name', 'Marti Vamseekar'), ('Age', 24), ('Sex', 'Male'), ('Nationality', 'Indian'), ('Place of Birth', 'Hyderabad')])