**1. Set is a collection of unique values, if you try to add same value again set doesn't accept it**<br/>
**2. Sets are unordered**<br/>
**3. Sets are Mutable**

In [5]:
set1 = set()

In [6]:
type(set1)

set

In [7]:
set1.add(4, 5, 6)

TypeError: set.add() takes exactly one argument (3 given)

In [8]:
set1.add(4)

In [9]:
set1.add(5)

In [10]:
set1.add(6)

In [11]:
set1

{4, 5, 6}

In [ ]:
# Here we can see even if we add 4 again it does not accept because set only accepts unique values
set1.add(4)
set1

{4, 5, 6}

**WE CAN SEND LIST, TUPLE AS AN ARGUMENT BUT WE CANNOT ADD IT AS AN ELEMENT TO A SET**

In [ ]:
# We can clearly see that when a list with repeated nums sent as an argument to a set it only accepted unique values

list1 = [10,10,10,10,11,11,11,11,11,11,11,12,12,12,12,12,12,13,13,13,13,13,13,13]
set(list1)

{10, 11, 12, 13}

In [17]:
# We can see that a list cannot be added as an element to a set, same goes with tuple as well, HASHABLE = IMMUTABLE
set1.add(list1)

TypeError: unhashable type: 'list'